/*********************************/
/*         GENERAL               */
/*********************************/

* {
  box-sizing: border-box;
}

body {
  background: #edeff0;
}

.box {
  background: #fff;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1.7em;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}



/*********************************/
/*         PROFILE               */
/*********************************/

#profile {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile_picture img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#pointsBar {
  width: 100%;
  height: 8px;
  background: #ddd;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 679px) {
  .profile_picture {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 680px) {  
  #profile {
    flex-direction: row;
  }

  .profile_data {
    margin-left: 50px;
    text-align: left;  
    flex: 1;
  }    
}



/*********************************/
/*         POINTS                */
/*********************************/

.total_points {  
  font-weight: 600;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}

.total_points, .skill {
  color: #a9b3bb;
  /*border-bottom: 1px dashed #d4d9dd;*/
}

.disclaimer {
    background: #f9fafa;
    border-top: 1px solid #e8ebed;
    margin-left: -1.7em;
    margin-right: -1.7em;
    margin-bottom: -1.7em;
    margin-top: 1em;
    padding: 1.7em;
    border-radius: 0 0 3px 3px; /* value must be same as .box border radius */
}

.disclaimer p {
  margin-bottom: 0;  
  margin-left: 10px;
  display: inline-block;
}

.disclaimer .fa-stack {
  vertical-align: inherit;
}

.disclaimer i, .disclaimer p {
  color: #7b8b8e;
}
