* {
  box-sizing: border-box;
}

body {
  background: #edeff0;
}

#profile, #points, #badges {
  background: #fff;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1.7em;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*********************************/
/*         PROFILE               */
/*********************************/
#profile {
  display: flex;
  flex-direction: column;
}

.profile_picture img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile_picture, .profile_data {
  text-align: center;
}

@media screen and (max-width: 679px) {
  .profile_picture {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 680px) {
  
  #profile {
    flex-direction: row;
  }

  .profile_data {
    margin-left: 50px;
    text-align: left;  
    flex: 1;
  }    
}

/*********************************/
/*         POINTS                */
/*********************************/
#points ul{
  list-style: none;  
  margin: 0;
}

#points ul li {
  width: 180px;
}

.topic {
  color: #a9b3bb;
}

#pointsBar {
  width: 100%;
  height: 8px;
  background: #ddd;
  display: flex;
  flex-direction: row;
}
